.red {
  background-color: #F44336 !important;
}

.red.light {
  background-color: #FFEBEE !important;
}

.red.dark {
  background-color: #b71c1c !important;
}

.pink {
  background-color: #e91e63 !important;
}

.pink.light {
  background-color: #fce4ec !important;
}

.pink.dark {
  background-color: #d81b60 !important;
}

.purple {
  background-color: #9c27b0 !important;
}

.purple.light {
  background-color: #f3e5f5 !important;
}

.purple.dark{
  background-color: #8e24aa !important;
}

.blue {
  background-color: #2196F3 !important;
}

.blue.light {
  background-color: #E3F2FD !important;
}


.blue.dark {
  background-color: #1E88E5 !important;
}


.green {
  background-color: #4CAF50 !important;
}

.green.light{
  background-color: #E8F5E9 !important;
}

.green.dark {
  background-color: #43A047 !important;
}

.yellow {
  background-color: #ffeb3b !important;
}

.yellow.light {
  background-color: #fffde7 !important;
}

.yellow.dark{
  background-color: #fdd835 !important;
}

.orange {
  background-color: #ff9800 !important;
}

.orange.light{
  background-color: #fff3e0 !important;
}

.orange.dark{
  background-color: #fb8c00 !important;
}

.brown {
  background-color: #795548 !important;
}

.brown.light{
  background-color: #bcaaa4 !important;
}

.brown.dark {
  background-color: #6d4c41 !important;
}

.grey {
  background-color: #9e9e9e !important;
}

.grey.light{
  background-color: #fafafa !important;
}
.grey.dark{
  background-color: #424242 !important;
}

.exibicao-de-cor {
    height: 55px;
    /*width: 100%;*/
    padding: 0 1px;
    line-height: 55px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
